<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="image.jpg" alt="Squidward">
            <h1 class="display-4">Kahfi Kurnia Aji</h1>
            <p class="lead">Peserta Bootcam</p>
        </div>
    </div>
</div>