<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>

<body>
    <h3>Links</h3>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <table border="1">
        <tr>
            <th>Nama</th>
            <th>No Telp</th>
        </tr>
        <% if (contacts.length) { %>
            <% contacts.forEach(contact=> { %>
                <tr>
                    <td>
                        <%=contact.name %>
                    </td>
                    <td>
                        <%=contact.mobile %>
                    </td>
                </tr>
                <% }); %>
                    <% } else {%>
                        <tr>
                            <td colspan="2">Kontak kosong</td>
                        </tr>
                        <% } %>
    </table>
</body>

</html>